.first-screen {
    &__title {
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
        text-align: center;
        color: $white;
        padding: 133px 60px 159px 60px;
    }
    &__scroll {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }
    &__scroll:hover svg circle {
        stroke: $red;
    }
    &__scroll:hover svg path {
        stroke: $red;
    }
}

@media (min-width: 768px) {
    .first-screen {
        &__title {
            padding: 198px 0 417px 0;
        }
        &__scroll {
            padding-bottom: 88px;
        }
    }
}

@media (min-width: 1024px) {
    .first-screen {
        &__title {
            padding-top: 182px;
            padding-bottom: 288px;
        }
        &__scroll {
            padding-bottom: 38px;
        }
    }
}

@media (min-width: 1440px) {
    .first-screen {
        &__title {
            padding-top: 198px;
            padding-bottom: 304px;
        }
    }
}
